*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

    :root {
        font-family: 'Alata', sans-serif;
        font-size: 16px;
        --bgColor1: #15202b;
        --bgColor2: #192734;
        --bgColor3: #22303c;
        --bgColorPopUp: #273746;
        --textColor: #374958;
        --accent: #2abd67;
        --accentDark: #1f8d4d;
    }

    body{
        background-color: #ececec;
    }

header{
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    color: var(--textColor);
    border-bottom: 2px solid var(--accent);
}
header > h1{
    color: #374958;
}

.tilte-span{
    color: var(--accent);
}

nav{
    position:fixed;
    bottom: 0;
    height: calc(100vh - 62.25px);
    width:20%;
    bottom: 0;
    border-top: 2px solid var(--accent);
    background-color: white;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section > h2{
    font-size: 1rem;
    color: var(--textColor);
    margin-bottom: 0.5rem;
}

hr{
    border: 1px solid var(--bgColor2);
}


.task-type{
    list-style: none;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.task-type > li > a{
    text-decoration: none;
    cursor: pointer;
    color: var(--textColor);
    padding: 0.5rem;


}



.task-type > li:hover{
    background-color: rgb(238, 237, 237);
    border-radius: 0.1rem;
}


.content{
    position: relative;
    width: 80%;
    left: 20%;
    padding: 1rem 3rem;
}

.content-header{
    background-color: var(--accent);
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem;
    color: white;
    border-radius: .1rem;
}